<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOCO - Reset Password</title>

    <style>
        body {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        main {
            background: #DCEEF2;
            padding: 10px;
            border-radius: 8px;
        }

        a {
            text-decoration: none;
            display: inline-block;
            border: 1px solid #0511F2;
            padding: 12px;
            margin-top: 15px;
            border-radius: 4px;
            background: #0511F2;
            font-weight: 700;
            transition: .5s;
            color: #fff;
        }

        a:hover {
            filter: brightness(.7);
        }

        footer {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-top: 85px;
        }

        footer img {
            width: 80px;
            margin-top: 8px;
        }
    </style>
</head>

<body>
    <main>
        <h2>Recuperação de senha</h2>

        <section>
            <p>Olá <strong>{{userName}}</strong>.</p>
            <p>
                Este é um email de recuperação de senha na plataforma <strong>Moco</strong>,
                caso não tenha sido você que fez o pedido de recuperação, por favor, <u>ignore este email</u>.
            </p>
            <p>
                Agora, se deseja realmente recuperar sua senha de acesso à plataforma,
                clique no botão abaixo e siga as instruções para o cadastro de uma nova senha.
            </p>

            <a href={{resetLink}} target="_blank">
                RECUPERAR SENHA
            </a>
        </section>

        <footer>
            Atenciosamente, equipe MOCO.
            <img src="https://money-control.s3-sa-east-1.amazonaws.com/logos/logo_transparent.png" alt="" srcset="">
        </footer>
    </main>
</body>

</html>